<div class="card-details-container">
    <div class="row">
        <div class="col-md-6">
            <div class="card-slider ">
                <slideshow [height]="'300px'" [imageUrls]="imageSources"></slideshow>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-details">
                <h6>Card-152852
                    <button mat-icon-button color="warn">
                        <i class="fa fa-heart"></i>
                    </button>
                </h6>
                <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
                <div>
                    <button mat-raised-button color="primary">Request demo card</button>
                    <button mat-raised-button color="primary">Design online</button>
                </div>
                <div>
                    <h1>Pricing details</h1>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <h3>Card Details </h3>
            <div class="tab-details">
                <p> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                    electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
                    versions of Lorem Ipsum.</p>
                <p> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                    electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
                    versions of Lorem Ipsum.</p>
            </div>
            <hr>
            <h3>User Review</h3>
            <div class="tab-details">
                <p> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                    electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
                    versions of Lorem Ipsum.</p>
                <p> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                    electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
                    versions of Lorem Ipsum.</p>
            </div>

        </div>
    </div>
</div>