.card-details-container {
    background-color: #FFF;
    padding: 10px;
}

.card-slider {
    width: 100%;
    display: inline-block;
}

.card-details {
    padding: 20px;
    background-color: #FFF;
    display: inline-block;
}

.tab-details {
    padding: 20px;
}

.pricing-details i,
.card-title span {
    color: #F44336;
}

.card-req-container {
    padding: 25px;
    background-color: #f1f1f1;
    margin-bottom: 20px;
}

.about-card {
    padding: 0px 30px;
    text-align: justify;
}

.about-card h3 {
    margin-bottom: 10px;
    margin-top: 30px;
}