.card-details-container {
    background-color: #FFF;
    padding: 10px;
}

.card-slider {
    width: 400px;
    display: inline-block;
}

.card-details {
    padding: 20px;
    background-color: #FFF;
    display: inline-block;
}

.tab-details {
    padding: 20px;
}