<div class="page-header-section set-bg">
    <div class="container">
        <div class="login-container">
            <div id="output"></div>
            <div class="avatar"></div>
            <div class="form-box">
                <div action="" method="">
                    <input name="user" type="text" placeholder="username">
                    <input type="password" placeholder="password">
                    <button class="btn btn-info btn-block login" type="submit">Login</button>
                    <button class="loginBtn loginBtn--google" (click)="googleLogin()">  Login with Google</button>
                </div>
            </div>
        </div>
    </div>
</div>