<div class="logo-container">

<form [formGroup]="logoForm" (ngSubmit)="saveLogoInfo(logoForm)">

	<mat-card>

		<mat-card-title>Add information about your creative logo</mat-card-title>

		<mat-form-field>
			<input matInput placeholder="Title" #logoTitle formControlName="logoTitle" required>
		</mat-form-field>


		<mat-form-field>
			<input matInput placeholder="Caption" formControlName="logoCaption" #logoCaption>
		</mat-form-field>

		<br>

		<angular-editor formControlName="logoDescription"  #logoDescription [config]="editorConfig"></angular-editor>

		<br>

		<label class="custom-file">
			<input type="file" id="file" class="custom-file-input">
			<span class="custom-file-control"></span>
		</label>

		<mat-card-footer>
			<button mat-raised-button color="primary" [disabled]="logoForm.invalid">Save</button>
		</mat-card-footer>


	</mat-card>

</form>


</div>