<div class="logo-container">
  <mat-form-field>
    <input matInput placeholder="Title">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Caption">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Description" rows="6"></textarea>
  </mat-form-field>

  <!-- <input class="ng-hide" id="input-file-id" multiple type="file" />
  <label for="input-file-id" class="md-button md-raised md-primary">Choose Files</label> -->

  <label class="custom-file">
    <input type="file" id="file" class="custom-file-input">
    <span class="custom-file-control"></span>
  </label>

</div>


<!-- Copyright 2018 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->