.logo-container {
    display: flex;
    flex-direction: column;
}

.logo-container>* {
    width: 100%;
}

.mat-form-field {
    display: block;
}

.mat-card-footer {
    padding: 23px;
    margin-top: 10px;
    border-top: 1px solid #e0e0e0;
    text-align: right;
    background-color: #f1f1f1;
}

.custom-file {
    position: relative;
    display: inline-block;
    max-width: 100%;
    height: 2.5rem;
    margin-bottom: 0;
    cursor: pointer;
    margin-top: 30px;
}

label {
    touch-action: manipulation;
}

.custom-file-input {
    min-width: 14rem;
    max-width: 100%;
    height: 2.5rem;
    margin: 0;
    filter: alpha(opacity=0);
    opacity: 0;
}

.custom-file-control {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    height: 2.5rem;
    padding: .5rem 1rem;
    line-height: 1.5;
    color: #464a4c;
    pointer-events: none;
    user-select: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}

.custom-file-control:lang(en)::before {
    content: "Browse";
}

.custom-file-control::before {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    z-index: 6;
    display: block;
    height: 2.5rem;
    padding: .5rem 1rem;
    line-height: 1.5;
    color: #464a4c;
    background-color: #eceeef;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0 .25rem .25rem 0;
}

.custom-file-control:lang(en)::after {
    content: "Upload image sample...";
}