/* You can add global styles to this file, and also import other style files */
body{
}
.header-area {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 50;
}
.set-bg{
    background-image: url('./assets/img/bg.jpg');
}